
.site-footer {
	background-color:black;
	border-top-color: rgb(120, 120, 120);
    height: 173px;
}

.site-header {
	background-color:black;
	border-bottom-color: rgb(120, 120, 120);

}

.site-nav .page-link{
color:white;}

.site-title, .site-title:visited {
    color: white;
}

a.post-link, a.post-link:visited {
color:white;
}

a:visited {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

//keep footer at the bottom
main.page-content {
	background-image: url(/img/2017-10-13/shadow.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    min-height:100%;
}

html, body {
    height:100%;
}


// post list font setings
.post-meta {
    font-size: 14px;
    color: rgb(220, 220, 220);
    display: block;
    margin-top: 10px;
    font-family: Lora,'Times New Roman',serif;
    font-size: 16px;
    font-style: italic;
}
.post-link {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.post-list-introduction > p {
    color: #d0cece;
    font-style: italic;
}


//wrapper width
.wrapper {
        max-width: calc(1000px - (30px * 2));
}

//post list div
div#post-list {
    margin: 35px 0;
    padding: 5px 20px;
}
//post list ul
.post-list {
    position: relative;
    top: auto;
}
//carousel wrap
.wrap{
    margin-top: 40px;

}

ul {
        color: rgb(180, 180, 180);

}

//code background
.highlighter-rouge .highlight {
    background: black;
}
pre, code {
    background-color: black;
}

// post list hr
hr.post-list-hr {
    /* color: #1F1D21; */
    border: solid 1px;
    border-color: darkgrey;
    opacity: 0.4;
    margin: 26px 0;
}

span.cd-date {
    color: white;
    font-weight: bold;
}


nav.site-nav {
    background-color: black;
}
