---
layout: page
---
<article class="post">

  <header class="post-header">
  </header>

  <!-- <div id="whale" height="200px"></div> -->

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="/assets/js/whale.js"></script>

  <section id="cd-timeline">

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/bootstrap.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Used the Bootstrap framework to write a website for my final undergraduate project. Several techniques were used to implement my website: HTML, CSS, SASS, JavaScript, JQuery, and JSON. </p>
            <span class="cd-date">Nov. 2016</span>
        </div> <!-- cd-timeline-content -->
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/PHP-logo.svg.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p>Taught myself PHP because some saied that PHP is the best language in this world:). In my project, I used MVC framework to organize PHP code. The server-side accepts user request and send data back and forth between MySQL database and user interfaces.</p>
            <span class="cd-date">Jan. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/java.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Took an intermediate online Java course provided by UCB as well as JavaOOP class when in CMU. </p>
            <span class="cd-date">June. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/opencv.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Developed a Face Recognition Information System (a desktop application) in JAVA. The application is build on JavaFX. Face detection and recognition functions are based on OpenCV library. </p>
            <span class="cd-date">Oct. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/R.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Started to learn R. Use various R packages to analyze and visualize data. I did a project to analyze the effects immigration status and student engagement on mathematical literacy based on data from Programme for International Student Assessment (PISA).</p>
            <span class="cd-date">Nov. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/aws.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Started the amazing cloud computing course. The first project was to analyse large volume dataset(170TB) from Wikipedia page view history. Wrote mapper and reducer using python to filter out pages whose monthly view is less than 100,000. Configure, deploy, execute and debug MapReduce jobs on AWS EMR by leasing 10 E2C instances.</p>
            <span class="cd-date">Jan. 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/huawei.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Interned in Huawei Tech. as a Cloud Computing Engineer. Assisted the researchers on new network protocol model design and testing. Focued on packet structure design and schedule.</p>
            <span class="cd-date">June 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/ml.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Started the fabulous machine learning class taught by Matt Gormley. Studied learning theorems and many ml models. Topcis includes: Perceptron, Naive Bayes, Decision Tree, KNN, Linear Regression, Logistic Regression, Neural Networks, Hidden Markov Models, Reinforcement Learning, Kernels and SVM.</p>
            <span class="cd-date">Feb. 2019</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/eaton.jpg" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Worked with Eaton Corporation to finish the Capstone Project.
              Eaton is a power management company with sales of $21.6 billion in 2018 and 99,000 employees around the world.
              Based on Eaton’s needs, the project has two objectives:
            </p>
            <p>The primary objective is to improve Eaton’s scoring model that captures the likelihood that customers would purchase Eaton's products.
              The three steps of this subproject included: Validated the existing model, incorporated Eaton.com web click behavior into the current model and monitored recent Google articles for sentiment analysis.

            </p>
            <p>The secondary objective is to designing an anonymizer tool (A desktop application written in Python), having encryption and decryption capabilities, to share data with external sources.</p>
            <span class="cd-date">Mar. 2019</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

</section>
<script src="/assets/js/jquery.js"></script>

<script src="/assets/js/main.js"></script>

<script src="/assets/js/modernizr.js"></script>
