---
layout: page
---
<article class="post">

  <header class="post-header">
  </header>


  <section id="cd-timeline">


    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/bootstrap.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> I used the Bootstrap framework to write a website for my final undergraduate project. Several techniques were used to implement my website: HTML, CSS, SASS, JavaScript, JQuery, and JSON. </p>
            <span class="cd-date">Nov. 2016</span>
        </div> <!-- cd-timeline-content -->    
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/PHP-logo.svg.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p>I chose PHP because some say it is the best language in this world:). In my project, I used MVC framework to organize PHP code. The server-side accepts user request and send data back and forth between MySQL database and user interfaces.</p>
            <span class="cd-date">Jan. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/java.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> An online Java course was the prerequisite condition when I was enrolled at CMU. So I take an intermediate Java course provided by UCB. </p>
            <span class="cd-date">June. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
</section>
















<!-->
<div class="post-content">
    {{ content }}
</div>

</article>
<div class="wrap">
    <div id="app"></div>
</div>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/carousel.js"></script>
    <!-- <script src="js/libs/vue.js"></script>
    <script src="js/VCarousel.js"></script> --
    <script type="text/javascript">
        var data = [{
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/java.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/back.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/tele.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/home.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/star.jpg'
        }
        // , {
        //     url: 'https://github.com/Rcong',
        //     img: 'http://7xrunf.com1.z0.glb.clouddn.com/rcong-img5.jpg'
        // }, {
        //     url: 'https://github.com/Rcong',
        //     img: 'http://7xrunf.com1.z0.glb.clouddn.com/rcong-img6.jpg'
        // }
        ];
        // new Vue({
        //     el: '#app',
        //     data: {
        //         imgList: data
        //     }
        // })
        var vcarousel = new VCarousel({
            wrap: $('#app'),
            data: data
        });
    </script>

    <!-->
