---
layout: page
---
<article class="post">

  <header class="post-header">
  </header>

  <div id="whale" height="200px"></div>

  <script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

  <script src="/assets/js/whale.js"></script>


  <section id="cd-timeline">

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/bootstrap.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> I used the Bootstrap framework to write a website for my final undergraduate project. Several techniques were used to implement my website: HTML, CSS, SASS, JavaScript, JQuery, and JSON. </p>
            <span class="cd-date">Nov. 2016</span>
        </div> <!-- cd-timeline-content -->
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/PHP-logo.svg.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p>I chose PHP because some say that PHP is the best language in this world:). In my project, I used MVC framework to organize PHP code. The server-side accepts user request and send data back and forth between MySQL database and user interfaces.</p>
            <span class="cd-date">Jan. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/java.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> I took an intermediate online Java course provided by UCB. I also had JavaOOP class when in CMU. </p>
            <span class="cd-date">June. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/opencv.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> I developed a Face Recognition Information System (a desktop application) in JAVA. The application is build on JavaFX. Face detection and recognition functions are based on OpenCV library. </p>
            <span class="cd-date">Oct. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/R.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Start to learn R. Use various R packages to analyze and visualize data. I did a project to analyze the effects immigration status and student engagement on mathematical literacy based on data from Programme for International Student Assessment (PISA).</p>
            <span class="cd-date">Nov. 2017</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


    <div class="cd-timeline-block">
        <div class="cd-timeline-img">
            <img src="/img/timeline/aws.png" alt="Picture">
        </div> <!-- cd-timeline-img -->

        <div class="cd-timeline-content">
            <p> Start the amazing cloud computing course. The first project is to analyse large volume dataset(170TB) from Wikipedia page view history. Wrote mapper and reducer using python to filter out pages whose monthly view is less than 100,000. Configure, deploy, execute and debug MapReduce jobs on AWS EMR by leasing 10 E2C instances.</p>
            <span class="cd-date">Jan. 2018</span>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


</section>
<script src="/assets/js/jquery.js"></script>

<script src="/assets/js/main.js"></script>

<script src="/assets/js/modernizr.js"></script>
