---
layout: default
---

<div class="home">

  <h1 class="page-heading"></h1>
  
  {{ content }}

<div class="wrap">
    <div id="app"></div>
</div>

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/carousel.js"></script>
    <!-- <script src="js/libs/vue.js"></script>
    <script src="js/VCarousel.js"></script> -->
    <script type="text/javascript">

        var data = [{
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/java.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/back.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/tele.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/home.jpg'
        }, {
            url: 'https://github.com/curiouschild',
            img: '/img/2017-10-13/star.jpg'
        }
        // , {
        //     url: 'https://github.com/Rcong',
        //     img: 'http://7xrunf.com1.z0.glb.clouddn.com/rcong-img5.jpg'
        // }, {
        //     url: 'https://github.com/Rcong',
        //     img: 'http://7xrunf.com1.z0.glb.clouddn.com/rcong-img6.jpg'
        // }
    ];

        // new Vue({
        //     el: '#app',
        //     data: {
        //         imgList: data
        //     }
        // })

        var vcarousel = new VCarousel({
            wrap: $('#app'),
            data: data
        });

    </script>



 <div id="post-list">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
  </div>


</div>
